@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");
header h1 {
    text-align: center;
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;    
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s infinite alternate-reverse;      
}
@keyframes animated-gradient{
  to{
    background-position: 200%;
  }
}

button {
    --c:  #229091; /* the color*/
    align-items: auto;

    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
        var(--_g) calc(var(--_p,0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p,0%)) 0%,
        var(--_g) calc(var(--_p,0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
    place-content: center;
    grid-auto-flow: column;
    gap: 40px;
    background: #F2DCA2;
    width: 365px;
    height: 200px;
}
button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
}