<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='heart.png') }}" class="icon" />
  <h3>Rate my rizz</h3>
  <form action="/" method="post">
    <input type="text" name="text-message" placeholder="Test your rizz" required />
    <input type="submit" value="Generate rating" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
